@model IEnumerable<Traveller.Models.Calls_Companies>

@{
    ViewBag.Title = "شركات الاتصال ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-primary text-center">شركات الاتصال </h3>
        </div>
    </div>
    <div class="container-fluid">
        <a href="~/Calls_Companies/Create" class="btn btn-success"> اضافة شركة اتصال </a>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>الاسم</th>
                                        <th>الكود</th>
                                        <th>الدولة</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>الاسم</th>
                                        <th>الكود</th>
                                        <th>الدولة</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Code</td>
                                            <td>@item.Country.Name</td>
                                            <td>
                                                <div class="dropdown show">
                                                    <a data-toggle="dropdown" aria-expanded="true">
                                                        <i class="ti-settings">
                                                        </i>
                                                    </a>
                                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -123px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <a href="~/Calls_Companies/Details/@(item.ID)"><li><i class="ti-info-alt"> </i>تفاصيل</li></a>
                                                        <a href="~/Calls_Companies/Edit/@(item.ID)"><li><i class="ti-pencil"> </i>تعديل</li></a>
                                                        <li>
                                                            <form action="~/Calls_Companies/Delete/@(item.ID)" method="post">
                                                                @Html.AntiForgeryToken()
                                                                <button class="btn btn-danger" onclick="return confirm('Are You Sure You Want To Delete This Call Company ?!');" type="submit"><i class="close"></i> حذف</button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->